services:
  ingestion:
    build: ./ingestion
    container_name: sofare_ingestion
    volumes:
      - ./ingestion/src:/app/src
      - ./data:/app/data
    environment:
      - PYTHONUNBUFFERED=1
      - DATA_SOURCE=${DATA_SOURCE:-binance}
    env_file: .env
    network_mode: "host"
    restart: unless-stopped

  training:
    build: ./training
    container_name: sofare_training
    volumes:
      - ./training/src:/app/src
      - ./data:/app/data
      - ./shared_model:/app/shared_model
    environment:
      - PYTHONUNBUFFERED=1
      - PYTHONDONTWRITEBYTECODE=1
      - MLFLOW_TRACKING_URI=http://mlflow:5000
      - MODEL_REGISTRY_PATH=/app/shared_model/registry
      - MAX_DATA_POINTS=2000000
      - GIT_PYTHON_REFRESH=quiet
    depends_on:
      - mlflow

  serving:
    build: ./serving
    container_name: sofare_serving
    ports:
      - "8000:8000"
    volumes:
      - ./serving/src:/app/src
      - ./data:/app/data
      - ./shared_model:/app/shared_model
    environment:
      - MLFLOW_TRACKING_URI=http://mlflow:5000
    depends_on:
      - mlflow
      - training

  mlflow:
    image: ghcr.io/mlflow/mlflow:v2.9.2
    container_name: sofare_mlflow
    ports:
      - "5000:5000"
    command: mlflow server --backend-store-uri file:///mlflow --default-artifact-root /mlflow/artifacts --host 0.0.0.0
    volumes:
      - ./mlflow_data:/mlflow
